*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: inter;
    color: var(--white);
}
:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed1c24;
  --gray:#ffffffb3;
  --lightblack:#3b3b3f;
  --dimlightblack:#0f0f0f;
  --green:#28a745;
  --lightgray:#a8b3b3;
  --orange:#ffc107;

}
@font-face {
    font-family: apercu;
    src: url(Apercu-regular.otf);
}
@font-face {
    font-family: butler;
    src: url(Butler_Light.otf);
}
@font-face {
    font-family: futurak;
    src: url(futurak.ttf);
}
@font-face {
    font-family: inter;
    src: url(Inter-VariableFont_opsz\,wght.ttf);
}
body{
    background-color:var(--black);
}
body a{
    text-decoration: none;
}
/* Header Started */
.logo-image{
    width: 180px;
    height: 80px;
    cursor: pointer;
}
header{
    background-color: var(--black);
    border-bottom: 1px solid #303030;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 75px;
}
.nav-items{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;

}
.nav-item{
    padding-top: 14px;
    font-size: 1.6rem;
    color: var(--white);
    text-decoration: none;
}
.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  align-items: center;
}

.franchise-btn{
    background-color: var(--black);
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 15px;
    border: 1px solid var(--white);
    cursor: pointer;
}
.order-btn{

    background-color: var(--red);
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 18px 15px;
    border: none;
    cursor: pointer;
}
.arrow-right{
    padding: 5px 7px;
    background-color: var(--white);
    color: var(--red);
    border-radius: 50px;
}
/* Header Ended */



/* Form Started */

.form-heading{
    text-align: center;
    color: var(--white);
    margin: 40px 0px;
    font-family: butler;
    font-size: 4rem;
}
form {
        margin: 40px;
        font-family: apercu;
    }

    .form-row {
        display: flex;
        gap: 20px;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }

    .form-row label {
        flex: 1;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        font-weight: 300;
        font-size: 1.5rem;
        color: var(--lightgray);
        gap: 10px;
    }
    
    input, select {
        padding: 12px 8px;
        margin-top: 6px;
        border: 1px solid #aaa;
        border-radius: 4px;
        font-size: 14px;
    }

    button {
        padding: 16px 60px;
        font-size: 16px;
        background-color:var(--orange);
        color: var(--white);
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }

    /* Form Ended */




    /* Footer CSS Started */
.footer-container { 
  background-color: var(--dimlightblack);
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}

.footer-s-image{
    position: absolute;
    left: 10px;
    top: 190px;
    height: 80vh;
    z-index: 0;

}
.footer-content{
    z-index: 1;
    flex: 1 1 350px;
  max-width: 400px;

}

.footer-content-two,
.footer-content-three,
.footer-content-four {
  flex: 1 1 250px; 
  max-width: 400px;
  box-sizing: border-box;
}

.footer-logo {
  width: 150px;
}

.footer-para {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--gray);
  font-family: apercu;
  padding: 20px 5px;
}

.footer-txt {
  text-decoration: none;
  color: var(--gray);
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 20px;
  font-family: apercu;
  margin-left: 5px;


}

.margin-right {
  margin-right: 8px;
}

.footer-content-two,
.footer-content-three {
  display: flex;
  flex-direction: column;
}

.footer-content-txt {
  width: fit-content;
  font-size: 1.6rem;
  font-family: apercu;
  text-decoration: none;
  color: var(--gray);
  margin: 8px 0;
}

.ftr-heading {
  font-size: 1.5rem;
  font-family: butler;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.ftr-heading-txt {
  font-size: 1.5rem;
  padding: 20px 0;
}

.ftr-txt {
  font-size: 1.5rem;
  color: var(--gray);
  font-family: apercu;
  padding: 10px 0;
}

.follow-us-txt {
  margin-bottom: 20px;
}

.ftr-facebook {
  background-color: var(--red);
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 1.8rem;
}

.ftr-a {
  color: var(--white);
  text-decoration: none;
}

.ftr-span {
  background-color: var(--red);
  padding: 10px 12px;
  border-radius: 30px;
  font-size: 1.8rem;
}

.span-margin-right {
  margin-right: 5px;
}
.app-downloads{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* Footer CSS Ended */



/* Copyrights CSS Started  */
.copy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 14px 60px;
}
.copy-text{
    font-size: 1.4rem;
    font-family: inter;
    text-decoration: none;
    color: var(--white);
}
/* Copyrights CSS Ended */